{% block body %}
{% include "AppBundle:Admin:menuAdmin.html.twig" %}
<div class=" container addArticlePage">
  <h5>modifier l'article : </h5>

  <!-- <form method="post" class="addArticleForm"> -->
    {{ form_start(form) }}


    {{ form_end (form) }}
  <!-- </form> -->

</div>

{% endblock %}
